.builds
  .project
    = render :partial => "shared/project", :locals => { :project => @project }
  
  - @builds.each do |build|
    = link_to resource_path(build) do
      .build{:class => build.status}
        .author= build.author+ ':'
        .comment= build.comment
        .date= ago(build.created_at)